.controls-out {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  padding: 1rem 0;
}

.options-div {
  padding: 1rem;
  border-radius: 0.438rem;
  background-color: #fafafa;
}

.filter-options-div {
  display: flex;
  align-items: center;
}

.checkbox {
  height: 1.125rem;
  width: 1.125rem;
  margin: 0 0.625rem 0 0;
  cursor: pointer;
}

.filter-options-div label {
  font-size: 1.125rem;
  cursor: pointer;
}

.canvas-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.controls-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 0.625rem;
}

.controls-2div {
  padding: 1rem;
  width: 25rem;
  height: auto;
  border-radius: 0.438rem;
  background-color: #fafafa;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.tools-map-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tools-button {
  display: block;
  border-radius: 0.438rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

span {
  text-align: center;
  margin-top: 0.25rem;
  color: #2b2b2b;
}

.showControls-div {
  padding: 1rem;
  width: 25rem;
  height: auto;
  border-radius: 0.438rem;
  background-color: #fafafa;
}

.showControls-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

.controlsMap-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlsMap-icon {
  display: block;
  border-radius: 0.438rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  width: 1.5rem;
}

.selectedTools-div {
  max-width: 67.5rem;
  max-height: 43.75rem;
  border-radius: 0.438rem;
  padding: 1rem;
}

.button-div-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.625rem;
}

.button-div {
  display: flex;
  gap: 0.625rem;
}

.flip-button {
  display: block;
  border-radius: 0.438rem;
  background-color: #2a2a2a;
  color: #fff;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.flip-button-sure {
  display: block;
  border-radius: 0.438rem;
  background-color: #2294fb;
  color: #fff;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.089);
}

.tag-main {
  max-height: 18.75rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #f1f1f1;
  border-radius: 0.625rem;
}

.tag-main::-webkit-scrollbar {
  display: none;
}

.tag-ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  list-style: disc;
}

.list-tags {
  font-size: 1.25rem;
  color: #505050;
  font-weight: 400;
  cursor: pointer;
}